<!DOCTYPE html>
<html>
  <head>
    <title>
      Is Toomer's Corner Being Rolled Right Now?
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      html{text-align: center;}
      h1{font-size:7em;}
      .wrapper{position: absolute;top: 50%; left: 50%;transform:translateY(-50%) translateX(-50%);}
      small, small a {color:#ccc;}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="question">
        <small>
          Is Toomer's Corner Being Rolled Right Now?
        </small>
      </div>
      <div class="response">
        <h1>
          <%= tweet.response %>
        </h1>
      </div>
      <% unless tweet.is_stale? %>
        <div class="embeded-tweet">
          <%= tweet.html %>
        </div>
      <% end %>
      <div class="website-link">
        <small>
          <a href="http://istoomerscornerbeingrolledrightnow.github.io/">
            http://istoomerscornerbeingrolledrightnow.github.io/
          </a>
        </small>
      </div>
      <div>
        <small>
          <a href="http://twitter.com/IsToomersRolled">
            @IsToomersRolled
          </a>
          |
          <a href="/api/">
            API
          </a>
        </small>
      </div>
    </div>
  </body>
</html>