<!DOCTYPE html>
<html>
  <head>
    <title>
      Is Toomer's Corner Being Rolled Right Now?
    </title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta property="og:image"
          content="https://istoomerscornerbeingrolledrightnow.github.io/assets/toomersAtNight.jpg" />
    <style>
      html{text-align: center;}
      h1{font-size:7em;}
      .wrapper{ position: absolute;
  top: 15px;
  width:100%;
  margin:auto;}
      small, small a {color:#ccc;}
    </style>
  </head>
  <body>
    <div class="wrapper">
      <div class="question">
        <small>
          <a href="https://istoomerscornerbeingrolledrightnow.github.io/">
            Is Toomer's Corner Being Rolled Right Now?
          </a>
        </small>
      </div>
      <div class="response">
        <h1>
          <%= tweet.response %>
        </h1>
      </div>
      <% unless tweet.is_stale? %>
        <div class="embeded-tweet">
          <%= tweet.html %>
        </div>
      <% end %>
      <div class="website-link">
        <small>
          <a href="https://istoomerscornerbeingrolledrightnow.github.io/">
            https://istoomerscornerbeingrolledrightnow.github.io/
          </a>
        </small>
      </div>
      <div>
        <small>
          <a href="https://twitter.com/IsToomersRolled">
            @IsToomersRolled
          </a>
          |
          <a href="/api/">
            API
          </a>
          |
          <a href="http://www.auburnalabama.org/mvc/cams/City-Cameras/Toomer%27s-Corner">
            Live Video Feed
          </a>
        </small>
      </div>
    </div>
  </body>
</html>